# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS resource fork files
Icon?
._*

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux system files
.directory

# General temporary files
*.swp
*.swo
*.tmp

# data sub-dirs:
data/ad-boundary-data
data/fixation-data
data/full-page-screenshots
data/mouse-movement-data
data/pupil-data
data/screen-recordings
data/serps
data/trial-metadata